.section--about {
	padding: 120px 0;
}

.section--about .inner {
	max-width: 1600px;
	margin: 0 auto;
}

.section--about .title {
	font-size: 60px;
	color: #f1f2f3;
}

.section--about .text-subtitle {
	border-radius: 10px;
	box-shadow: 20px 20px 8px rgba(0,0,0,0.2);
	font-weight: 300;
	color: #f1f2f3;
	margin-top: 50px;
	font-size: 25px;
	line-height: 1.8;
	border: 1px solid #ffffff;
	padding: 30px;
	text-align: left;
	background-color: #212223;
	transition: 0.3s ease-out;
}
.expcard-main {
	transition: 0.3s ease-out;
}

/* 반응형 디자인 - 화면 크기에 따라 텍스트 크기 조정 */
@media screen and (max-width:1380px) {
	.section--about .title {
		font-size: 36px;
	}
	.section--about .text-subtitle {
		font-size: 18px;
		padding: 20px;
	}
}

@media screen and (max-width: 768px) {
	.section--about {
		padding: 5vh 10px;
	}
	.section--about .title {
		font-size: 30px;
	}
	.section--about .text-subtitle {
		font-size: 16px;
		line-height: 1.6;
		padding: 15px;
	}
}
